<div id="card-controls" class=" slds-m-bottom_small slds-p-bottom_small slds-border_bottom">
    <fieldset class="slds-form-element">
      <legend class="slds-form-element__legend slds-form-element__label slds-float_none">Flashcard Filters</legend>
        <div class="slds-form-element__control">
            <div class="slds-checkbox">
                <input type="checkbox" name="options" aria-cat="discovery" id="checkbox-discovery" value="checkbox-discovery" checked="" />
                <label class="slds-checkbox__label" for="checkbox-discovery">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label"><span class="slds-icon_container slds-icon-standard-record-lookup"><svg class="slds-icon slds-icon_x-small" aria-hidden="true"><use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#record_lookup"></use></svg></span> Discovery 13%</span>
                </label>
            </div>
        </div>
        <div class="slds-form-element__control">
            <div class="slds-checkbox">
                <input type="checkbox" name="options" aria-cat="uxfundamentals" id="checkbox-uxfundamentals" value="checkbox-uxfundamentals" checked="" />
                <label class="slds-checkbox__label" for="checkbox-uxfundamentals">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label"><span class="slds-icon_container slds-icon-standard-connected-apps"><svg class="slds-icon slds-icon_x-small" aria-hidden="true"><use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#connected_apps"></use></svg></span> Ux Fundamentals 16%</span>
                </label>
            </div>
        </div>
        <div class="slds-form-element__control">
            <div class="slds-checkbox">
                <input type="checkbox" name="options" aria-cat="hci" id="checkbox-hci" value="checkbox-hci" checked="" />
                <label class="slds-checkbox__label" for="checkbox-hci">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label"><span class="slds-icon_container slds-icon-standard-channel-programs"><svg class="slds-icon slds-icon_x-small" aria-hidden="true"><use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use></svg></span> Human-Centered Design 12%</span>
                </label>
            </div>
        </div>
        <div class="slds-form-element__control">
            <div class="slds-checkbox">
                <input type="checkbox" name="options" aria-cat="dd" id="checkbox-dd" value="checkbox-dd" checked="" />
                <label class="slds-checkbox__label" for="checkbox-dd">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label"><span class="slds-icon_container slds-icon-standard-dashboard"><svg class="slds-icon slds-icon_x-small" aria-hidden="true"><use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#task"></use></svg></span> Declarative Design 27%</span>
                </label>
            </div>
        </div>
        <div class="slds-form-element__control">
            <div class="slds-checkbox">
                <input type="checkbox" name="options" aria-cat="dd" id="checkbox-dd" value="checkbox-dd" checked="" />
                <label class="slds-checkbox__label" for="checkbox-dd">
                    <span class="slds-checkbox_faux"></span>
                    <span class="slds-form-element__label"><span class="slds-icon_container slds-icon-custom-custom46"><svg class="slds-icon slds-icon_x-small" aria-hidden="true"><use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#stage_collection"></use></svg></span> Design Testing Skills: 11%</span>
                </label>
            </div>
        </div>
    </fieldset>
  </div>