<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UX Certification Flash Cards</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  
  <meta name="robots" content="noindex, nofollow" />
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <header class="slds-border_bottom landing">
    <div class="slds-p-around--medium slds-container--large slds-container--center ">
      <h1 class="slds-text-heading--large slds-m-bottom_x-small">Welcome to UX Certification Flashcards Experiment!</h1> 
      <h2 class="slds-text-heading--medium slds-m-bottom_x-small">This tool was made with lots of <span class="slds-icon_container slds-icon-custom-custom1" title="Description of icon when needed">
        <svg class="slds-icon slds-icon_small" aria-hidden="true"><use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom1"></use></svg><span class="slds-assistive-text">Love</span></span> for you all. I hope this helps you nail your UX Certification WooHoo!
      </h2>
      
      {% include "_card-controls.html" %}
    </div>
  </header>
  <div class="slds-p-around--medium slds-container--center slds-container--large landing">
    <section class="flip-cards">
      {% for card in cards %}
      <div class="flip-card {{ card.filterCat }}">
        <article class="slds-card">
          <div class="card-front">
            <div class="slds-card__body slds-card__body_inner">{{ card.front }}</div>
            <span class="slds-badge slds-badge_lightest">
              <span class="slds-badge__icon slds-badge__icon_left">
                <span class="slds-icon_container slds-icon-utility-moneybag slds-current-color" title="Description of icon when needed">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#{{ card.icon }}"></use>
                  </svg>
                </span>
              </span>{{ card.category }}</span>
          </div>
          <div class="card-back">
            <div class="slds-card__body slds-card__body_inner">{{ card.back }}</div>
          </div>
        </article>
        <button class="slds-button slds-button_icon slds-button_icon-border" aria-pressed="false" title="check answer">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
          </svg>
          <span class="slds-assistive-text">check answer</span>
        </button>
      </div>
      {% endfor %}
    </section>
  </body>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
  <script type="text/javascript">
    $(function(){
        var flipCard = $(".flip-card");
        var trigger = flipCard.find("button");
        var cardFilter = $("#card-controls input[type=checkbox]")
        trigger.on("click" , function(){
          $(this).toggleClass("rotateArr").parent().toggleClass("flipped");
          $(this).addClass("click");
          return false;
        });
        trigger.on('transitionend', function() {
          $(this).removeClass('click');
          $(this).toggleClass("slds-button_icon-border-inverse slds-button_icon-border")
          $(this).addClass('go_back');
          return false;
        });

        cardFilter.on("click" , function(){
          var hash = $(this).attr("aria-cat");
          //$("."+hash).toggleClass("slds-hidden");
          $("."+hash).slideToggle(200);
          console.log($("."+hash));
        });

        $(window).scroll(function(){
          var winTop = $(window).scrollTop();
          if(winTop >= 90){
            $("body").addClass("sticky-header");
          }else{
            $("body").removeClass("sticky-header");
          }//if-else
        });//win func.
        
    });
  </script>
</html>
