<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UX Cert Flash Cards</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
  <meta name="robots" content="noindex, nofollow" />
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="http://labs.rampinteractive.co.uk/touchSwipe/jquery.touchSwipe.js"></script>
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <header class="page-header landing slds-p-around_small">
    <div class="slds-container--large slds-container--center slds-grid">  
      <h1 class="slds-text-heading--large slds-col slds-medium-size_10-of-12 slds-size_8-of-12"><img src="https://www.lightningdesignsystem.com/assets/images/logo.svg"/> UX Certification Flashcards</h1>
      <div class="slds-col slds-col_bump-left slds-medium-size_2-of-12 slds-size_4-of-12 slds-text-align_right">
        <button id="filter-button" class="slds-button slds-button_neutral slds-button_dual-stateful " aria-live="assertive" aria-pressed="false">
          <span class="slds-text-not-pressed">
            <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
            </svg>Filters</span>
          <span class="slds-text-pressed">
            <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
            </svg>Filters</span>
        </button>
      </div>
    </div> 
  </header>
  {% include "_card-controls.html" %}
  <div class="slds-p-around--medium slds-container--center slds-container--large landing"> 
    <section class="flip-cards">
      {% for card in cards %}
      <div class="flip-card {{ card.filterCat }}">
        <article class="slds-card">
          <div class="card-front">
            <div class="slds-card__body slds-card__body_inner">{{ card.front }}</div>
            <span class="slds-badge slds-badge_lightest">
              <span class="slds-badge__icon slds-badge__icon_left">
                <span class="slds-icon_container slds-current-color" title="Description of icon when needed">
                  <svg class="slds-icon slds-icon_xx-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#{{ card.icon }}"></use>
                  </svg>
                </span>
              </span>{{ card.category }}</span>
          </div>
          <div class="card-back">
            <div class="slds-card__body slds-card__body_inner">{{ card.back }}</div>
          </div>
        </article>
        <button class="slds-button slds-button_icon slds-button_icon-border" aria-pressed="false" title="check answer">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
          </svg>
          <span class="slds-assistive-text">check answer</span>
        </button>
      </div>
      {% endfor %}
    </section>
  </body>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
  <script src="/scripts/cards.js"></script>
</html>
